{% extends "main/layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
{% endblock %}


{% block app_content %}
    <h3>corona riskmap</h3>
    <p>
        A daily-updating choropleth map that shows confirmed COVID-19 cases per ICU bed for each US state.
        <a href="https://github.com/puffyboa/coronamap">Github</a>
    </p>
    <br>
    <h1>COVID-19 Cases vs. ICU Capacity</h1>
    <div class="dates">
        {% for date in dates %}
            <a class="date {% if date == selected_date %}selected{% endif %}" id="{{ date }}" href="{{ date }}">
                {{ date|replace('-', '/') }}</a>
        {% endfor %}
    </div>
    <div id="map"></div>
    <br>
    <p>
        A <a href="https://www.cdc.gov/mmwr/volumes/69/wr/mm6912e2.htm?s_cid=mm6912e2_w">CDC analysis</a>
        of more than 2,400 cases of COVID-19 that have occurred in the United States in the last month
        shows that between 1 in 20 and 1 in 9 people who are confirmed cases require ICU admission.
    </p>
    <p>
        If it turns out that 1 in 9 cases require ICU admission, then
        <b id="num-bad-states" class="red">0</b> state(s)
        as of {{ selected_date|replace('-', '/') }}
        have too few ICU beds for their number of cases.
    </p>
    <br>
    <div class="scrollable">
        <table id="ranked" class="table table-hover table-condensed">
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Cases / ICU bed</th>
                <th>Positive tests</th>
                <th>Negative tests</th>
                <th>Total tests</th>
                <th>Hospitalized</th>
                <th>Deaths</th>
                <th>Total ICU Beds</th>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <i class="small">Built by Julian Sanker. <a href="mailto:julian@sankergroup.org">Contact me</a> if you have any issues</i>
{% endblock %}


{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.19.3/build/global/luxon.min.js"></script>

    <script>
        const mapboxAccessToken = '{{ mapbox_access_token }}';
        const selectedDate = '{{ selected_date }}';
    </script>
    <script src="{{ url_for('static', filename='js/main.js', version='2') }}"></script>
{% endblock %}