{% extends "main/layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
{% endblock %}


{% block app_content %}
    <h3>coronamap</h3>
    <p>
        A daily-updating cloropleth map that shows confirmed COVID-19 cases per intensive-care bed for each US state.
        <a href="https://github.com/puffyboa/coronamap">Github</a>
    </p>
    <br>
    <h1>COVID-19 Cases vs. ICU Capacity</h1>
    <div id="map"></div>
    <br>
    <p>
        The worst state is <b>{{ worst["name"] }}</b>, with
        {{ (worst["Confirmed"]/worst["Intensive-care beds"]) | round2 }} cases per intensive-care bed.
        <br>
        The safest state is <b>{{ safest["name"] }}</b>, with
        {{ (safest["Confirmed"]/safest["Intensive-care beds"]) | round2 }} cases per intensive-care bed.
    </p>
{% endblock %}


{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <script> const statesData = {{ statesData | safe }}; </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}