{% extends "main/layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
{% endblock %}


{% block app_content %}
    <h1>COVID-19 Cases vs. ICU Capacity</h1>
    <div id="map"></div>
    <p>The worst state is <b>{{ worst[0] }}</b>, with
        {{ (worst[1]["Confirmed"]/worst[1]["Intensive-care beds"]) | round2 }} cases per intensive-care bed.</p>
{% endblock %}


{% block scripts %}
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

    <script> const statesData = {{ statesData | safe }}; </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}